<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div class="Cards Cards_refresh" th:fragment="popularBooks">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <div class="Card" th:each="book2author : ${popularBooks}">
        <div class="Card-picture">
            <a href="#a" th:href="${book2author.book.bookId}">
                <img src="/assets/img/content/main/card.jpg" alt="card.jpg"/>
            </a>
            <div class="Card-sale"
                 th:text="${book2author.book.discount}+'% скидка'"
                 th:if="${book2author.book.discount != 0}"></div>
            <div class="Card-ribbon">
                <span class="Card-ribbonText"
                      th:text="${book2author.book.isBestseller} ? 'Бестселлер' : ''"></span>
            </div>
        </div>
        <div class="Card-content">
            <strong class="Card-title">
                <a href="#" th:text="${#strings.toUpperCase(book2author.book.title)}"></a>
            </strong>
            <div class="Card-description"
                 th:text="${book2author.author?.firstName}+' '+${book2author.author?.lastName}"></div>
            <div class="Card-cost">
                <span class="Card-priceOld" th:text="${book2author.book.priceOld}"></span>
                <span class="Card-price" th:text="${book2author.book.price}"></span>
            </div>
        </div>
    </div>
    <div class="Cards-footer Cards-footer_center"><a class="btn btn_primary" href="#" data-refreshshow="popular"
                                                     data-refreshoffset="20" data-refreshlimit="20"
                                                     th:text="#{middlebar.showmore}">Показать еще</a>
    </div>
</div>
</html>